/** @format */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #020d18;
    --color-secondary: #f1c40f;
}

a {
    color: white;
    text-decoration: none;
}

/* selected link */
a:visited {
    color: var(--color-secondary);
}

ul {
    list-style: none;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--color-secondary);
    color: #000;
}

.btn:disabled {
    border-color: #ccc;
    cursor: not-allowed;
}

.btn:disabled:hover {
    background: transparent;
    color: #fff;
}

.selected-btn {
    background: var(--color-secondary);
    color: #000;
}
body{
    background-color: black;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
 padding: 20px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav{
    display: flex;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-element {
    padding-left: 20px;
}


.logo{
    background-color: black;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-start;
    font-size: 25px;
        font-weight: 700;
}

.logo a:visited{
    color: white;
}

main{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./images/showcase-bg.jpg) no-repeat center center/cover;
    height: 200px;
    width: 100%;
    color: white;
}

.search-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.search-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.search-form {
    width: 40%;
}

.check-boxes input {
    padding-left: 10px;
}
.check-boxes  {
   color: white;
}

.search-section form input[type='text'] {
    flex: 6;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
}

.search-section form input[type='text']::placeholder {
    color: #fff;
}

.search-section form input[type='text']:focus {
    outline: none;
}

.search-section form button {
    flex: 1;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    background: var(--color-secondary);
    color: #000;
}

.search-section form button:hover {
    background: transparent;
    color: #fff;
}


.articles-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    padding: 10px;
}

.articles-list h2 {
    padding-top: 20px;
    text-transform: uppercase;
}

.articles-list-container {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    row-gap: 25px;
    column-gap: 15px;
    color: white;
    margin-top: 30px;
}

.articles-list-container article{
    max-width: 23%;
    min-width: 200px;
    border: 5px solid blue;
    border-radius: 5px;
    background-color: blue;
    transition: transform .2s;
        /* Animation */
}
.articles-list-container article:hover {
    transform: scale(1.1);
}

.articles-list-container article img {
    width: 100%;
}

.articles-list-container article div {
    max-height: 10%;
}

footer {
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}